kaggle
torch
torchvision
torchaudio
pandas
numpy
scikit-learn
matplotlib
seaborn
pillow
opencv-python
albumentations
tqdm
pyyaml
plotly
streamlit
shap
grad-cam
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
transformers
accelerate
